/* google fonts work sans  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700&display=swap');

/* general styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

main {
    width: 100%;
}

/* styles for header section  */
.header {
    width: 100%;
    height: 1400px;
    background: rgba(255, 144, 14, 0.1);
}

.navbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav {
    width: 30%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    font-size: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #424242;
}

/* Banner section start  */
.banner {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.banner-content h1 {
    font-size: 65px;
    font-weight: 700;
}

.banner-content p {
    margin: auto;
    width: 860px;
}

.banner-content a {
    display: inline-block;
    text-decoration: none;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    margin-top: 50px;
    border-radius: 10px;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}

/* Quick list section styles */
.quickList-container {
    width: 80%;
    height: 800px;
    margin:50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quickList-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.quickList-image img {
    width: 100%;
}

.quickList-content {
    width: 530px;
}

.quickList-content h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: 0;

}

.quickList-content p {
    color: #727272;
}

.quickList-content a {
    display: inline-block;
    text-decoration: none;
    background-color: #FF900E;
    color: white;
    border-radius: 10px;
    padding: 20px 24px;
}

/* Style for feature section start  */
.feature-container {
    width: 80%;
    height: 1060px;
    margin: auto;
}

.feature-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feature-content {
    max-width: 100%;
}

.feature-title h1 {
    text-justify: auto;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding: 0 10px 0 20px;
}

.feature-title p {
    font-size: 16px;
    font-weight: 400;
}

.feature-item-body {
    margin-top: 30px;
}

.feature-item {
    padding: 20px 30px;
}

.feature-item h1 {
    font-size: 20px;
}

.feature-bottom-style {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    bottom: 100px;
    left: -50px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    background-color: #FF900E;
}

.feature-bottom-style p {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    line-height: .8em;
}

.feature-bottom-style span {
    font-size: 20px;
    font-weight: 400;
}

/* style for fact section  */
.fact-container {
    width: 80%;
    margin: 100px auto;
}

.fact-content {
    display: flex;
    justify-content: space-around;
    margin: 90px 0;
}

.fact-tiles {
    position: relative;
    text-align: center;
    height: 180px;
    width: 180px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 8px;
    animation: myfirst 2s linear 0s infinite;
}
@keyframes myfirst {
    0%   {border-top:2px solid green;}
    33%  {border-right:3px solid green;}
    66%  {border-bottom:4px solid green;}
    100%  {border-left:5px solid green;}
  }

.fact-tiles h1,
.fact-tiles h5 {
    margin: 0;
    padding: 5px;
}
.fact-title p{
    width: 500px;
    font-size: 16px;
}
.fact-title h1{
    font-size: 45px;
    font-weight: 700;
    margin: 25px 0;
}
.fact-tiles h1 {
    font-size: 45px;
    color: #424242;
}

.fact-tiles h5 {
    font-size: 20px;
    color: #727272;
}

/* Sponsor section start from here  */
.sponsor-container{
    width: 80%;
    margin: auto;
    text-align: center;
}
.sponsor-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor-content h1{
    margin: 25px 0;
}
.sponsor-content p{
    width: 550px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.sponsor-logo{
    display: flex;
    justify-content: space-between;
    margin:50px 0 ;
}
.sponsor-logo img{
    height: 50px;
}

/* style for extra section (contact us ) */


.contact-container {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #FFF4E7;
    color: #131212;
}

.contact {
    width: 320px;
}

.newsletter {
    width: 325px;
}

.newsletter h2 {
    padding: 10px;
    font-size: 25px;
}

.newsletter input {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.contact h1 {
    padding: 10px 0px;
}

.contact p {
    padding: 10px 0px;
    font-size: 16px;
    line-height: 26px;
}

.link {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #727272;
    padding: 10px;
}
.link:hover{
    border: 1px solid #FF900E;
}
.quick-link{
    display: flex;
    flex-direction: column;
}
.quick-link a{
    text-decoration: none;
    margin-left: 15px;
    color: #727272;
}
.quick{
    color: #727272;
    padding: 10px;
}

/* style for footer  */
.footer{
    width: 80%;
    height: 100px;
    background: #FFF4E7;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    line-height: 100px;
}

/* Responsive styles 
-------------------------------------------------------------------------------------------------------------
 */

@media screen and (max-width:576px) {
    .header{
        height: 900px;
    }
    .navbar {
        width: 100%;
        margin: auto;
        padding: 10px;
        display: block;
    }
    .navbar-brand{
        margin-left: 50px;
    }
    
    .nav{
        width: 100%;
    }
    
    .nav ul {
        display: block;
        text-align: center;
    }
    
    .nav-item {
        margin: 5px 0;
    }
    .banner-content h1{
        font-size: 2.5rem;
    }
    
    .banner-content p {
        width: 100%;
    }
    .quickList-container{
        flex-direction: column;
        height: auto;
    }
    .quickList-image{
        grid-template-columns: repeat(1, 1fr);
    }
    .quickList-content{
        text-align: center;
        margin-top: 50px;
    }
    .quickList-content  h1{
        font-size: 2.5rem;
    }




    /* feature responsive */
    .feature-container {
        width: 100%;
        padding: 10px;
        height: auto;
        margin-left: 20px;
    }
    
    .feature-body {
        width: 100%;
        display: block;
    }
    
    .feature-content {
        width: 100%;
    }
    
    .feature-title p {
        max-width: 520px;
    }
    .feature-image{
        width: 520px;
    }
    .feature-image img{
        width: 100%;
    }
    .feature-bottom-style {
        width: 100px;
        height: 50px;
        bottom: 50px;
        left: 200px;
    }
    
    .feature-bottom-style p {
        font-size: 20px;
    }
    
    .feature-bottom-style span {
        font-size: 16px;
    }

    /* responsive fact section  */

    .fact-container {
        width: 100%;
        margin: 100px auto;
        padding: 10px;
    }
    
    .fact-content {
        flex-direction: column;
        align-items: center;
    }
    
    .fact-tiles {
        margin-top: 10px;
    }
    
    .fact-title h1,.fact-title p{
        text-align: center;
    }


    /* Responsive style for extra section (contact us ) */


.contact-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.contact {
    width: 520px;
}

.newsletter {
    width: 100%;
}

.newsletter h2 {
    padding: 10px;
    font-size: 25px;
}

.newsletter input {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.contact h1 {
    padding: 10px 0px;
}

.contact p {
    padding: 10px 0px;
    font-size: 16px;
    line-height: 26px;
}

.link {
    height: 15px;
    width: 15px;
    margin-top: 0px;
}
.quick-link{
    width: 520px;
}
.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor-logo{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-left: 150px;
}
.sponsor-logo img{
    height: 50px;
    max-width: auto;
}

/* Responsive style for footer  */
.footer{
    width: 100%;
}
}


.hide{
    display: none;
}